.example-spacer {
    flex: 1 1 auto;
}
// .mat-mdc-form-field {
//     font-size: 14px;
//     width: 100%;
//   }
mat-sidenav{
    width: 400px;
}
router-outlet{
    display: block;
    margin-left: auto;
    margin-left: auto;
}